tg-lightbox-close

div.form
    h2.title(translate="LIGHTBOX.RELATE_TO_EPIC.IN_THIS_PROJECT")
    fieldset
        label(translate="LIGHTBOX.RELATE_TO_EPIC.SELECT") 
        input(type="text", data-maxlength="500", placeholder="{{'LIGHTBOX.RELATE_TO_EPIC.SEARCH' | translate}}", ng-model="usersSearch")
