//*************************
//** COLORS
//************************

// Colors
$black: #000;
$blackish: #262021;
$grayer: #383233;
$gray: #767071;
$gray-light: #B6B0B1;
$gray-lighter: #E9E3E4;
$whitish: #F6F0F1;
$white: #fff;

// Mass white
$mass-white: #FBF7F8;
// Primary colors
$primary: #AC4162;
$primary-dark: darken($primary, 20%);
$primary-background: lighten($primary, 50%);
$primary-light: lighten($primary, 20%);
$primary-lighter: lighten($primary, 40%);

// Secondary colors
$secondary: #3f51b5;
$secondary-light: #8c9eff;
$secondary-dark: #1a237e;

// Status colors
$green-light: #91DF85;
$red-light: #ff5252;
$red: #f44336;
$my-sin: #fcaf3e;
$yellow-green: #9dce0a;

//Card color
$card: #fff8e4;
$card-hover: #f1e8cd;
$card-dark: #cfc29b;

$green-japanese-laurel: #009688;
$green-olive: #cddc39;
$red-amaranth: #e91e63;
$purple-eggplant: #9c27b0;
$yellow-pear: #ffc107;

$tribe-primary: #107a8a;
$tribe-secondary: darken($tribe-primary, 10%);

$top-icon-color: $white;
$dropdown-color: rgba(darken($primary-dark, 20%), 1);
$code-bg: #272822;

/* Overwrite mixins */

@mixin triangled-bg {
    background: url('https://lh4.googleusercontent.com/-k7YewfrSQ_Q/VGdNZND0NBI/AAAAAAAAD1A/UDZBeSGR7iM/w1465-h824-no/Ultimate%2BMaterial%2BLollipop%2BCollection%2B-%2B480') no-repeat center center;
    background-size: cover;
}

@mixin background-taiga {
    background: url('https://lh6.googleusercontent.com/-2l_mJ5g6j4k/VGdNZCpaERI/AAAAAAAAD2o/zCx5Z3cYv6Y/w1465-h824-no/Ultimate%2BMaterial%2BLollipop%2BCollection%2B-%2B497') no-repeat center center;
    background-size: cover;
}
