tg-due-date .due-date-icon {
    line-height: .1rem;
    display: inline-block;
    position: relative;
    margin: 0 .25rem;
    svg {
        height: 1.25rem;
        width: 1.25rem;
        fill: $gray-light;
        transition: fill .2s ease-in;
    }
}

.backlog-table-body .user-story-name .due-date-icon {
    top: .25rem;
}

.card-statistics .due-date-icon {
    margin: 0;
    svg {
        height: 1rem;
        width: 1rem;
    }
}
